# Environment variables
.env

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Test files
test/
coverage/

# Miscellaneous
*.tmp
*.bak
